table {
    background-color: rgba(95, 95, 204, 0.219); 
}
label {
    margin-right: 10px;
    margin-top: 12px;
}
input {
    margin-right: 30px;
}
button {
    margin-right: 20px;
}
h3 {
    margin: 15px 0px;
}